{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>صفحه تایید کاربر</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/static/account_module/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/account_module/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

<div class="limiter" id="root">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="post" class="login100-form validate-form" action="{% url 'forget_password_page' %}">
                {% csrf_token %}
                <span class="login100-form-title p-b-26">
						تایید شماره موبایل
					</span>
                <span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>
                <div class="wrap-input100 validate-input text-right fs-20" data-validate="شماره موبایل را وارد کنید">
						<span class="focus-input100"
                              data-placeholder=" شماره موبایل "></span>

                    {{ forget_pass_form.phone_number }}
                </div>
                {{ forget_pass_form.phone_number.errors }}
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>

                             <button type="submit" class="login100-form-btn">فراموشی کلمه عبور</button>


                    </div>
                </div>

            </form>
        </div>

    </div>
</div>


<div id="dropDownSelect1"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<!--===============================================================================================-->
<script src="/static/account_module/js/main.js"></script>

</body>

</html>


<div class="container">
    <section id="form"><!--form-->
        <div class="row">
            <div class="col-sm-6 col-md-offset-3">
                <div class="signup-form"><!--sign up form-->
                    <h2>فراموشی کلمه عبور</h2>
                    <form method="post" action="{% url 'forget_password_page' %}">
                        {% csrf_token %}


                        {{ forget_pass_form.phone_number.label_tag }}
                        {{ forget_pass_form.phone_number }}
                        {{ forget_pass_form.phone_number.errors }}

                        <button type="submit" class="btn btn-default">فراموشی کلمه عبور</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </section>
</div>