{% load static %}

<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-secondary px-3">دوره ها</h6>
            <h1 class="mb-5">دوره های موجود</h1>
        </div>
        <div class="row g-4 justify-content-center">

            {% if courses.count < 1 %}
                <h4 align="center">دوره ای وجود ندارد</h4>
            {% else %}
                {% for cours in courses %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid " src="{{ cours.main_picture }}" alt="">

                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'tutorial-login' slug=cours.slug %}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                           style="border-radius: 30px 0 0 30px;">اطلاعات بیشتر</a>
                                        <a href="{% url 'payment' slug=cours.slug %}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                           style="border-radius: 0 30px 30px 0;">ثبت نام</a>

                                    {% else %}
                                        <a href="{% url 'course-detail' slug=cours.slug %}"
                                           class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                           style="border-radius: 30px 0 0 30px;">اطلاعات بیشتر</a>
                                        <a href="{% url 'login_page' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                           style="border-radius: 0 30px 30px 0;">ثبت نام</a>

                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h4 class="mb-0 text-center"><span  class="badge badge-primary" style="color : #000">تومان</span>


                                   {% if cours.discount %}

                                       <span id="price"></span>
                                       <script>

                                            document.getElementById("price").innerHTML = Math.abs({{ cours.price }} - {{ cours.discount }});

                                        </script>

                                   {% else %}
                                        <span > {{ cours.price }}</span>

                                   {% endif %}


                                     </h4>
                                <h5 class="mb-0">{{ cours.title }}</h5>
                                <div class="mb-3">
                                    {% for item in cours.rate_range %}
                                    <small class="fa fa-star text-primary"></small>
                                    {% endfor %}


                                </div>
                                <h5 class="mb-4">{{ cours.short_description }}</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2 dr "><i
                                        class="fa fa-user-tie text-secondary me-2 m-2"></i>{{ cours.instructor }}
                                </small>
                                <small class="flex-fill text-center border-end py-2 dr"><i
                                        class="fa fa-clock text-secondary me-2 m-2"></i> {{ cours.duration }}
                                </small>
                                <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30
                                    Students</small> -->
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>