{% load static %}

<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 dr">
            <div class="col-lg-3 col-md-6 dr">
                <h4 class="text-white mb-3">دسترسی سریع</h4>
                <a class="btn btn-link dr" href="{% url 'home_page' %}">خانه </a>
                <a class="btn btn-link dr" href="{% url 'courses' %}">دوره ها</a>
                <a class="btn btn-link dr" href="{% url 'contact_us_page' %}">تماس با ما</a>


            </div>

            {% include 'gallery_module/gallery.html' with gallery_footer=gallery_footer  %}

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row dr">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0 dr">
                    &copy; <a class="border-bottom dr" href="#">اسم سایت</a>
                    حقووق مادی و معنوی محفوظ است.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    طراحی و توسعه توسط <a class="border-bottom dr" href="https://htmlcodex.com">@P7ayam</a>
                </div>

            </div>
        </div>
    </div>
</div>

