{% load static %}
<!-- JavaScript Libraries -->
    <script src="{% static 'home_module/js/vue.min.js' %}"></script>
    <script src="{% static 'home_module/js/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'home_module/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'home_module/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'home_module/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'home_module/lib/owlcarousel/owl.carousel.min.js' %}"></script>


    <!-- Template Javascript -->

    <script src="{% static 'home_module/js/main.js' %}"></script>